footer.container
    p.float-right
        a(href='#') Back to top
    p © 2020 #{_appName}. Made with
        i.fas.fa-heartbeat.mx-1.text-danger
        | by
        a.ml-1(href='https://nisanthsojan.com', target='_blank') Nisanth Sojan
